@import "../vars";
@import "../fonts";
@import "../mixins";

.third{
    display: flex;
    margin-top: 96px!important;
}
.left{
    width: 50%;
    position: relative;
}
.right{
    width: 50%;
    @include blocksText;
}

.modal{
    position: absolute;
    top: 240px;
    left: 50px;
    display: flex;
    flex-direction: column;
    padding: 18px 20px;
    border: 1px solid $borders;
    border-radius: 7px;
    background-color: #fff;
    width: 281px;
    height: 133px;
    &__upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        &_text{
            display: flex;
            flex-direction: column;
            color: $baseText;
            font-size: 11px;
            span{
                color: black;
                font-size: 23px;
            }
        }
        &_buttons{
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid $borders;
                border-radius: 50%;
                &:first-child{
                    margin-right: 6px;
                }
            }
        }
    }
    button{
        cursor: pointer;
        height: 42px;
        color: white;
        background-color: $blue;
        border: none;
        border-radius: 6px;
    }
}