<section>
    <div class="container third">
        <div class="left">
                <img src="../img//png/5.png" alt="iphone">
                
                <div class="modwin">
                    
                        <div>Verify your identity</div> 
                        <p>To help protect you from fraud and identity theft, and to comply with federal regulations, we need some info including: </p>     
                        <span>Legal name, home address, and DOB </span> 
                        <span>Legal name, home address, and DOB</span> 
            
                     <button>Continue</button>
             </div>

        </div>
        <div class="right">
            <div class="right_text">
                <h3>Security From Day One</h3>
                <span>Safety, security and compliance. Buy and sell popular digital currencies, keep track of them in the one place.</span>    
            </div>
        </div>
    </div>
</section>