<section>
    <div class="container foot">
        <div class="banner">
            <img src="../img/png/banner.png" alt="banner">
            <button>Get started</button>
        </div>
    </div>
    <div class="info">
        <div class="leftsidepart">
            <img src="../img/svg/Logo.svg" alt="logo">
            <span>Take your crypto to the next level</span>
            <div class="social">
                <a href="#"><img src="../img/png/fb.png" alt="facebook"></a>
                <a href="#"><img src="../img/png/tw.png" alt="twitter"></a>
                <a href="#"><img src="../img/png/in.png" alt="insta"></a>
                <a href="#"><img src="../img/png/ln.png" alt="linkdin"></a>
                <a href="#"><img src="../img/png/yu.png" alt="youtube"></a>
            </div>
        </div>
        <div class="rightsidepart">
             <div class="itemlist">
                <div>Company</div>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#"> Careers</a></li>
                    <li><a href="#">Student</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Trust and safety</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
             </div>
             <div class="itemlist">
                <div>Learn</div>
                <ul>
                    <li><a href="#">AWhats Trending</a></li>
                    <li><a href="#">Product News</a></li>
                    <li><a href="#"> Events</a></li>
                    <li><a href="#">University</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Market Updates</a></li>
                </ul>
             </div>
             <div class="itemlist">
                <div>Products</div>
                <ul>
                    <li><a href="#">Stock & Fund</a></li>
                    <li><a href="#">Cash Card</a></li>
                    <li><a href="#">Crypto</a></li>
                    <li><a href="#">Options</a></li>
                    <li><a href="#">Gold</a></li>
                    <li><a href="#">Learn Snacks</a></li>
                </ul>
             </div>
             <div class="itemlist">
                <div>Support</div>
                <ul>
                    <li><a href="#">Support Center</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#"> System Status</a></li>
                    <li><a href="#">Areas of Availability</a></li>
                </ul>
             </div>
             <div class="itemlist">
                <div>Resources</div>
                <ul>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">Site Widgets</a></li>
                    <li><a href="#">Tax</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
             </div>   
        </div>
    </div>
    <div class="divider"></div>
    <span class="copyright">© Design by Dliya Zarror Nibros. All rights reserved.</span>
</section>