<section>
    <div class="container fourth">
        <div class="left">
            <div class="left_text">
                <h3>Lightning-Fast Crypto Trading</h3>
                <span>The Exchange supports USD, EUR, and GBP. Invest in cryptocurrency slowly over time by scheduling buys daily, weekly, or monthly.</span>    
            </div>
        </div>
        <div class="right">
            <img src="../img//png/4.png" alt="iphone">
            <div class="exchanger">
                <div class="exchanger__first">
                    <button>Buy</button>
                    <button>Sell</button>
                </div>
                <div class="exchanger__second">
                    <span>Ethereum Price</span>
                    <div class="exchanger__second_price">$3.110,31</div> 
                </div>
                <div class="exchanger__third">
                    <!-- must be an input and select inside -->
                    <img src="../img/svg/btc.svg" alt="coin" class="ico ico_first">
                    <span class="ico_text ico_text_first">BTC</span>
                    <select name="first" id="first">
                        <option value="btc">BTC</option>
                        <option value="eth">ETH</option>
                    </select>
                     <!-- must be an input and select inside -->
                    <img src="../img/svg/eth.svg" alt="coin" class="ico ico_second">
                    <span class="ico_text ico_text_second">ETH</span>
                    <select name="second" id="second">
                        <option value="btc">BTC</option>
                        <option value="eth">ETH</option>
                    </select>
                </div>
                <button class="swich"><img src="../img/svg/switch.svg" alt="switch"></button>
                <button class="buysell">Buy</button>
            </div>
    </div> 
    </div>
</section>