<!-- 
<div class="menu">
    <div class="menu__block">
        <div class="menu__close"><img src="../img/svg/cross.svg" alt="close"></div>
        <nav>
            <ul class="menu__list">
                <li class="menu__link"><a href="#">about me</a></li>
                <li class="menu__link"><a href="#">my experience</a></li>
                <li class="menu__link"><a href="#">my skills</a></li>
                <li class="menu__link"><a href="#">my works</a></li>
                <li class="menu__link"><a href="#">price-list</a></li>
                <li class="menu__link"><a href="#">contacts</a></li>
            </ul>
        </nav>
        <div class="menu__social">
            <a href="#"><img src="../img/svg/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="../img/svg/instagram.svg" alt="instagram"></a>
            <a href="#"><img src="../img/svg/github.svg" alt="github"></a>
        </div>
    </div>
    <div class="menu__overlay">
    </div>
</div>

<section class="promo">
    <div class="hamburger">
        <span></span>
        <span class="long"></span>
        <span></span>
    </div> -->



<section class="headsection">
    <div class="headsec">
        <header class="header">
            <img src="../img/svg/Logo.svg" alt="logo" class="header__logo">
                <ul class="header__links">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
                <div class="header__signin">
                    <span>Sign in</span>
                    <button>Get started</button>
                </div>
        </header>
        <div class="center_content_wrapp">
            <div class="top_text"><span>One platform <br/></span> 
                all things Crypto</div>
                <div class="top_text__lower">Open a free account in minutes right from your phone and make your money go further</div>    
                <div class="top_text__form">
                    <input type="email" placeholder="Email Address...">
                    <button type="submit">Get Started</button>    
                </div>
        </div>
        <div class="statistic_window">
            <img src="../img/Browser/sagari.jpg" alt="stat">
        </div>
        <div class="logotypes">
            <img src="../img/png/binance logo.png" alt="binance">
            <img src="../img/png/coinbase.png" alt="coinbase">
            <img src="../img/png/btc.png" alt="btc">
            <img src="../img/png/tether.png" alt="tether">
            <img src="../img/png/bitmex logo.png" alt="bitmex">
        </div>
        <div class="statistic_numbers">
            <div>99k <span>People have joined</span></div>
            <div>50k <span>VVIP users have joined</span></div>
            <div>100+ <span>Big Companies have joined</span></div>
        </div>
    </div>
</section>

