<section>
    <div class="container second">
        <div class="left">
            <h3>The Most Trusted Cryptocurrency Platform</h3>
             <ul>
                <li>
                    <h5>Sync between platforms</h5>
                    <span>
                        No matter if you're using our web interface or mobile app — your data is always synced. Just one account for all our services.
                    </span>
                </li>
                <li>
                    <h5>More focus, less clutter</h5>
                    <span>No ads, just the crypto and content you love.</span>
                </li>
                <li>
                    <h5>Security by default</h5>
                    <span>Enable privacy mode and app locking to protect your data.</span>
                </li>
             </ul>
        </div>
        <div class="right"> 
            <img src="../img/png/second.png" alt="second">
        </div>
    </div>
</section>