<section>
    <div class="container seventh">
         <h3>What people are saying</h3>
           <div class="wrapper">

            <div class="col">
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Otam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
            </div>

            <div class="col">
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
            </div>

            <div class="col">
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Totam, earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
            </div>

            <div class="col">
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
                <div class="item">
                    <div class="item__head">
                        <img src="../img/png/ava.png" alt="avatar">
                        <div> John Dee <span>CEO Motion Design Agency</span></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum!  
                     </div>
                </div>
            </div>  
         </div>

    </div>
    <div class="blur"><img src="../img/png/blur.png" alt="blur"></div>
</section>