<section>
    <div class="container sixth">
        <div class="upper">
            <h3>Get Started in Just Few Minute</h3>
            <span>Has a variety of features that make it the best place to start trading</span>
        </div>
        <div class="lower">
            <div class="lower__item">
                <img src="../img/svg/6.1.svg" alt="item">
                <h6>Sign Up</h6>
                <span>Buy Bitcoin or Ethereum, the securely store it in your wallet or send it on easily to friends </span>
            </div>
            <div class="lower__item">
                <img src="../img/svg/6.2.svg" alt="item">
                <h6>Fund</h6>
                <span>Choose you preferred payment method such as bank transfer or credit card to top up your wallet </span>
            </div>
            <div class="lower__item">
                <img src="../img/svg/6.3.svg" alt="item">
                <h6>Buy Crypto</h6>
                <span>Sign up for free wallet on web, IOS or Android and follow our easy process to set up your profile</span>
            </div>
        </div>
    </div>
</section>
