<section>
    <div class="container third">
        <div class="left">
                <img src="../img//png/3.png" alt="iphone">
                <div class="modal">
                     <div class="modal__upper">
                        <div class="modal__upper_text">
                            8.52889997 MATIC
                            <span>$13.83</span>
                        </div>
                        <div class="modal__upper_buttons">
                            <a href="#"><img src="../img/svg/link1.svg" alt="link"></a>
                            <a href="#"><img src="../img/svg/link2.svg" alt="link"></a>
                        </div>
                     </div>
                     <button>Trade</button>
                </div>
        </div>
        <div class="right">
            <div class="right_text">
                <h3>Create portfolio today</h3>
                <span>Buy and sell popular digital currencies, keep track of them in the one place. Has a variety of features that make it the best place to start trading</span>    
            </div>
        </div>
    </div>
</section>