@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

@import"./components/headsection";
@import"./components/second";
@import"./components/third";
@import"./components/fourth";
@import"./components/fifth";
@import"./components/sixth";
@import"./components/seventh";
@import"./components/footsection";
@include font-face('Yukita','YukitaSans-Bold','bold','normal');
@include font-face('Yukita reg','YukitaSans-Regular','regular','normal');

*{
    margin: 0;
    padding: 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

